* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Essencial para layout com floats */
}

body {
    font-family: 'Georgia', serif; 
    background-color: #0a0a0a;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


h1 { font-size: 3.5rem; margin-bottom: 10px; font-weight: normal; }
h2 { font-size: 2rem; margin-bottom: 15px; text-align: center; font-weight: normal; }
p.subtitle { 
    text-align: center; color: #888; font-size: 0.9rem; 
    max-width: 600px; margin: 0 auto 50px auto; font-family: sans-serif;
}


.top-nav {
    position: absolute; /* Flutua sobre a imagem */
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
    z-index: 100; /* Garante que fique acima de tudo */
    text-align: center;
}

.top-nav ul { list-style: none; }

.top-nav li {
    display: inline-block; /* Itens lado a lado */
    vertical-align: middle; /* Alinhamento vertical */
    margin: 0 25px;
}

.top-nav a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 0.7rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.8;
}

.hero {
    height: 100vh;
    position: relative;

    background-image: 
        /* Degradê: Transparente (topo) até Preto (#0a0a0a) (fim) */
        linear-gradient(to bottom, rgba(10,10,10,0) 10%, #0a0a0a 100%),
        url('barzim.jpg'); 
        
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    /* Truque antigo para centralizar perfeitamente */
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}


.section-dark {
    background-color: #0a0a0a;
    padding: 30px 0 100px 0;
}

.col-3 {
    width: 33.33%;
    float: left;
    padding: 0 10px;
    text-align: center;
}

.col-2 {
    width: 50%;
    float: left;
    padding: 0 40px;
    text-align: center;
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}

.card-title {
    font-family: serif;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.card-sub {
    font-family: sans-serif;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #888;
}

.date {
    display: block;
    font-family: sans-serif;
    font-size: 0.65rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 10px;
}

.desc {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 10px;
}

.footer-image {
    height: 60vh;
    position: relative;
    
    background-image: 
        linear-gradient(to bottom, #0a0a0a 1%, rgba(10,10,10,0) 90%),
        url('neon.jpg');
        
    background-size: cover;
    background-position: center;
}
.copyright {
    background-color: #0a0a0a;
    color: #9c9c9cce;
    text-align: center;
    padding: 10px;
    font-size: 0.7rem;
    font-family: sans-serif;
}